/* stilat qe kena mi bo */

/* defaulat per bootstrap starter template */
/* body {
  padding-top: 1rem;
} */

#main-container {
  padding: 15px;
}

.shtypi-navbar {
  background-color: #c3c3c3 !important;
}